# IDEA
.idea/
.vscode/

# Compiled files
/target/

# Dependency directories
/lib/
/bin/

# Build artifacts
build/

# Application properties
application.properties

# Log files
*.log

# Maven
.mvn/

# Gradle
.gradle
build/

# Eclipse
.classpath
.project
.settings/

# Miscellaneous
*.iml
*.ipr
*.iws
out/
